<!--
    File: article3.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Article3 page of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/27/01
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">

    <title>Language Translation Services</title>
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>

<header>

</header>

<main class="container">
    <h1 class="mb-5">
        <i class="fa-solid fa-globe"></i>
        Language Translation Services
    </h1>

    <div class="language-page-content">
        <p>
            Our language translation services bridge the gap between cultures and ensure that every member of our community feels heard and understood. Whether you're participating in community events, seeking assistance, or sharing your experiences, our team of translators is here to support you.
        </p>
        <p>
            We offer translation services for a wide range of languages, including but not limited to:
        </p>
        <ul>
            <li>English</li>
            <li>Spanish</li>
            <li>French</li>
            <li>German</li>
            <li>Chinese (Mandarin and Cantonese)</li>
            <li>Arabic</li>
            <li>Russian</li>
            <li>Japanese</li>
            <li>Korean</li>
            <li>Italian</li>
        </ul>
        <p>
            Our dedicated translators work tirelessly to ensure accurate and culturally sensitive communication in every interaction. Join our inclusive community and experience the power of effective language translation services.
        </p>
        <p>
            <a href="blog.html" class="back-to-blog-link">&larr; Back to Blog</a>
        </p>
    </div>
</main>

<script src="../../script/main.ts"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>

</body>
</html>
