<!--
    File: blog.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Blog page of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/27/01
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">

    <title>blog</title>
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <!-- scripts -->
    <script src="../../script/router.js"></script>

</head>
<body>
<header>

</header>

<main class="container" id="blog-container">
    <!-- Blog Header -->
    <h1 class="mb-5">
        <i class="fa-solid fa-book"></i>
        Blog
    </h1>

</main>

<!-- JavaScript Imports -->



<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../script/main.js"></script>
</body>
</html>
