<!--
    File: index.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Events page of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/02/24
-->


<main class="container">
    <h1 class="mb-5">
        <i class="fa-solid fa-home"></i>
        Welcome to Harmony Hub Community Center
    </h1>

    <div id="event-list" class="row">
        <!-- Events will be dynamically populated here -->
    </div>
</main>


