<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">
    <title>Events Planning</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <!-- FullCalendar.js -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.9.0/main.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.9.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.min.js"></script>

    <script src="../../script/router.js"></script>
</head>
<body>
<main class="container">
    <h1>Events Calendar</h1>
    <div id="calendar"></div>
</main>
<!-- Bootstrap and jQuery scripts -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<!-- Your custom JavaScript file -->
<script src="../../script/main.js"></script>
</body>
</html>
