<!--
    File: gallery.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Gallery page of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/02/24
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery</title>
    <!-- Stylesheets -->

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <script src="../../script/router.js"></script>

</head>

<body>

<header></header>

<main class="container">
    <div id="gallery" class="gallery-container"></div>
</main>

<!-- JavaScript Imports -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../script/main.js"></script>

</body>
</html>
