<!--
    File: home.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Main homepage of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/27/01
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">

    <title>home</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="../../script/router.js"></script>

</head>
<body>

<header>

</header>

<main class="container">
    <!-- Welcome Section -->
    <div id="welcomeMessageContainer"></div>

    <div class="welcome-section text-center mt-5">
        <h1 class="display-4">Welcome to Harmony Hub</h1>
        <!-- Introduction Messages -->
        <p class="lead" style="color: blue; font-weight: bold;">Your Community Center for Technology, Education, and Community Engagement </p>
        <p class="lead" style="color: green; font-weight: bold;">Get ready to embark on a journey where technology meets humor, education takes center stage, and community engagement is not just a party—it's a fiesta! 🎈</p>
        <p class="lead" style="color: purple; font-weight: bold;">Where gadgets dance, education sparkles, and community engagement is the coolest party in town! 🎉🥳</p>
        <!-- Image -->
        <p>
            <img src="../../file/img.png" alt="Harmony Hub" style="max-width: 50%; height: 30%;">
        </p>
    </div>



</main>

<!-- JavaScript Imports -->

<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../../script/main.js"></script>
<script src="../../script/router.js"></script>

</body>
</html>
