<!--
    File: privacy.html
    Author: Maryam Heidary (100868524), Masooma Haidari (100868525)
    Description: Privacy page of the Harmony Hub website showcasing community engagement, personal development, and connections.
    Date: 2024/27/01
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">

    <title>Privacy Policy</title>
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>
<body>

<header>

</header>

<main>
    <h1 class="mb-5">
        <i class="fa-solid fa-file-contract"></i>
        Privacy Policy
    </h1>
    <section>
        <h2>1. Overview</h2>
        <p>This Privacy Policy describes how we collect, use, and handle your personal information when you use our
            services.</p>
    </section>

    <section>
        <h2>2. Information We Collect</h2>
        <p>We may collect the following types of information:</p>
        <ul>
            <li>Personal Information: Name, email, contact information.</li>
            <li>Usage Information: Information about how you use our services.</li>
            <li>Device Information: Device type, operating system, and browser type.</li>
        </ul>
    </section>

    <section>
        <h2>3. How We Use Your Information</h2>
        <p>We use the collected information for the following purposes:</p>
        <ul>
            <li>Providing and maintaining our services.</li>
            <li>Improving, personalizing, and expanding our services.</li>
            <li>Communicating with you, including responding to your inquiries.</li>
            <li>Ensuring the security of our services.</li>
        </ul>
    </section>

    <section>
        <h2>4. User Rights</h2>
        <p>As a user, you have the following rights:</p>
        <ul>
            <li>Access: You can request access to your personal information.</li>
            <li>Correction: You can request corrections to your personal information.</li>
            <li>Deletion: You can request the deletion of your personal information.</li>
            <li>Objection: You can object to the processing of your personal information.</li>
        </ul>
    </section>

    <section>
        <h2>5. Security</h2>
        <p>We take appropriate measures to protect your personal information from unauthorized access or disclosure.</p>
    </section>

    <section>
        <h2>6. Changes to This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. Any changes will be posted on this page.</p>
    </section>

    <section>
        <h2>7. Contact Us</h2>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at
            privacy@example.com.</p>
    </section>
</main>


<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../script/main.js"></script>
<script src="../../script/router.js"></script>



</body>

</html>
