<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">
    <title>Statistics</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
</head>
<body>

<!-- Canvas for Chart.js -->
<main>
    <h1>Statistics</h1>
    <canvas id="myChart" width="400" height="400"></canvas>
</main>

<!-- Chart.js library -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Bootstrap and jQuery scripts -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<!-- Your custom JavaScript file -->
<script src="../../script/main.js"></script>
</body>
</html>
