<!-- weather.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Maryam Heidary, Masooma Haidari">
    <title>Weather</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="../../content/style.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <script src="../../script/router.js"></script>
</head>
<body>
<header>
</header>
<main class="container">
    <h1>Weather App</h1>
    <form id="location-form">
        <label for="location">Enter Location:</label>
        <input type="text" id="location" placeholder="Enter your location">
        <button type="button" onclick="getWeather()">Get Weather</button>
    </form>
    <div id="weather-info"></div>
</main>
<!-- JavaScript Imports -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../script/router.js" type="module"></script>
<script src="../../script/main.js" type="module"></script>

</body>
</html>
